/* ========================================================================= */
/* Everything below is unimportant - used only by the demo and not necessary */
/* to make ScrollMate work.                                                  */
/* ========================================================================= */

html {
	font-size: 16px;
}

body {
	font-family: "gilroy";
	background-color: #F6F8FA;
}

.ScrollmateReturnArea {
	border: 3px solid #175729;
	background-color: #40c365;
}

.ScrollmateTriggerArea {
	color: #a12b2f;
	background-color: #fc4349;
}

.spacerDark {
	background-color: #f27d19;
}

.spacerLight {
	background-color: #fecb57;
}

h1 {
	color: rgba(0, 0, 0, 0.325);
	font-weight: 900;
	margin: 0;
	text-transform: uppercase;
}

.ScrollmateTrigger {
	border: 5px solid #141414;
	transition: all 250ms ease;
}

.ScrollmateTrigger:hover {
	border: 5px solid #f8f8f8;
	transition: all 250ms ease;
}

.spacingLogo {
	padding-top: 25vh;
}

.button {
	border-radius: 3px;
	color: rgba(0, 0, 0, 0.75);
	display: inline-block;
	cursor: pointer;
	font-size: 85%;
	font-weight: 900;
	padding: 0.75rem 1.25rem;
	text-decoration: none;
	text-transform: uppercase;
	border: 3px solid #175729;
	background-color: #40c365;
}
.button:hover,
.button:focus {
	border: 3px solid #f8f8f8;
	background-color: #141414;
	color: #f8f8f8;
}

.STAT {
	transition: all 350ms ease;
	stroke-dasharray: 460;
	stroke-dashoffset:0;
	animation: notthesamenamenow 2s infinite linear forwards;
	-moz-animation: notthesamenamenow 2s linear forwards;
	-webkit-animation: notthesamenamenow 2s linear forwards;
	-o-animation: notthesamenamenow 2s linear forwards;
}
/* BELOW: original css... IT WAS REMOVED TO FIX ERROR THOUGH...*/
/* @-webkit-keyframes notthesamenamenow { 							*/
/*  	from { stroke-dashoffset: 460; }									*/
/*  	to { stroke-dashoffset: 0 ;} 										*/
/* } 																				*/
/* BELOW: updated css */
@keyframes notthesamenamenow {
	from { stroke-dashoffset: 460; }
	to { stroke-dashoffset: 0;}
}

#scrollmateBackground:hover {
	fill: #F6F8FA;
	stroke: #F6F8FA;
}

section {
	align-items: center;
	background-color: #35cc5f;
	border-radius: 3px;
	display: flex;
	min-height: 5vh;
	justify-content: center;
	flex-direction: column;
	margin: 1rem;
	padding: 2rem;
}

section div {
	max-width: 42rem;
	text-align: center;
}

@media (min-width: 600px) {
	h1 {
		font-size: 250%;
	}
}
h1 em {
	color: #000;
}
p,
ul,
ol {
	color: rgba(0, 0, 0, 0.375);
	font-size: 125%;
}
p:last-child {
	margin-bottom: 0;
}
ul,
ol {
	padding-left: 0;
	text-align: left;
}
pre,
code {
	background-color: rgba(255, 255, 255, 0.25);
	color: #141414;
	padding: 2px 4px;
}
pre code {
	background-color: transparent;
}
a {
	color: inherit;
}
pre {
	text-align: left;
}
.websiteLink:hover path,
.websiteLink:focus path {
	fill: rgba(0, 0, 0, 0.325);
}

.spacerLight h2 {
	display: none;
}